.secondSection{
    ul{
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        li{
            position: relative;
            color:white;
            list-style: none;

            .line{
                position:absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                height: 4px;
                width: 100%;
                background: yellow;
                opacity: 0;
                transition: opacity .3s;
            
            &.visible{
                opacity: 1;
            }
            }
        }
    }

    //tab content
    section{
        padding: 16px;

        h2{
            color:white;
        }

        img{
            width: 100%;
            margin-top: 16px;
            border-radius: 6px;
        }
    }
}